@media screen and (max-width: 768px) {
  .house {
    width: 100%;
    height: 194.6vw;
    background-image: url("../images/telfon.svg");
    background-size: contain;
  }
  .rooms {
    width: 85vw;
    gap: 2.66vw 2.344vw;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    padding-top: 15vw;
  }
  .rooms .cherdak {
    width: 400vw;
    height: 50vw;
    background-image: url("../images/cherdak.svg");
    margin-top: 2.8vw;
    margin-left: -6.7vw;
    background-size: cover;
    object-fit: contain;
  }
  .rooms .bathroom {
    width: 35vw;
    height: 36vw;
    margin-top: -11.2vw;
    margin-left: -2vw;
  }
  .rooms .bedroom {
    width: 54vw;
    height: 36vw;
    margin-top: -40.2vw;
    margin-left: 36vw;
    background-size: cover;
  }
  .rooms .kitchen {
    width: 54vw;
    height: 38vw;
    margin-top: -2.02vw;
    margin-left: -1.6vw;
  }
  .rooms .livingroom {
    width: 38vw;
    margin-left: 56vw;
    margin-top: -43.5vw;
    height: 38vw;
  }
  .kapustas {
    display: none;
  }

  .kapusta {
    display: none;
  }
  .attic {
    height: 120vw;
    background-position: center;
  }

  .bedroomm {
    height: 110vw;
    background-position: 76%;
  }
  .kitchenn {
    height: 120vw;
    background-position: center;
  }
  .bathroomm {
    height: 120vw;
    background-position: center;
  }
  #miska {
    width: 30vw;
    height: 30vw;
    top: 54vw;
    left: 23vw;
  }

  .svet {
    width: 23vw;
    bottom: 86vw;
    left: 26vw;
  }
  #korobka {
    width: 33vw;
    height: 33vw;
    margin-top: 76vw;
    margin-left: 7vw;
  }
  #korobka2 {
    width: 33vw;
    height: 33vw;
    margin-top: 46vw;
    margin-left: 27vw;
  }
  #korobka3 {
    display: none;
  }
  .domik {
    width: 6vw;
    position: absolute;
    right: 2vw;
    bottom: 2vw;
  }
  #yula {
    width: 11vw;
    top: 105vw;
    left: 5vw;
  }
  #matr {
    width: 11vw;
    top: 72.5vw;
    left: 37vw;
  }
  #teddy {
    display: none;
  }
  #molot {
    width: 25vw;
    top: 99.5vw;
    left: 25vw;
  }
  .bathroomm {
    height: 120vw;
    background-position: center;
  }
  #bubble.b1 {
    top: 25vw;
  }
  #bubble.b2 {
    width: 11vw;
    height: 11vw;
    top: 51vw;
    left: 35vw;
  }
  #bubble.b3 {
    width: 11vw;
    height: 11vw;

    top: 28vw;
  }
  #bubble.b4 {
    width: 15vw;
    height: 15vw;

    top: 38vw;
  }
  #bubble.b5 {
    width: 17vw;
    height: 17vw;

    top: 58vw;
  }
  #bubble.b6 {
    width: 10vw;
    height: 10vw;
    left: 12vw;
    top: 47vw;
  }
  #bubble.b7 {
    width: 16vw;
    height: 16vw;
    left: 10vw;
    top: 65vw;
  }
  .book {
    width: 70%;
    height: 43%;
    left: -1vw;
    top: 10vw;
  }
  .page {
    width: 55vw;
    height: 46vw;
  }
  .vkl {
    width: 8vw;
    margin-top: 36.2vw;
    margin-left: 71.7vw;
  }
  #milk {
    width: 17vw;
  }
  #eggs {
    width: 27vw;
    top: 56vw;
    left: 53vw;
  }
  #cherry {
    width: 22.5vw;
    top: 54vw;
    left: -1vw;
  }
  #sugar {
    width: 18vw;
    top: 88vw;
    left: 55vw;
  }
  #myka {
    width: 21vw;
    top: 25vw;
    left: 48vw;
  }
  #pie {
    width: 10.6vw;
    top: 8.8vw;
    left: 46vw;
  }
  .miska {
    width: 30vw;
    height: 30vw;
    top: 53vw;
    left: 23vw;
  }
  .tv {
    width: 70vw;
    bottom: 45vw;
    height: 140vw;
    background-position: center;
    background-size: cover;
  }
  .dym {
    width: 20vw;
    height: 17.7vw;
    right: 4vw;
    top: 6.95vw;
  }
  .vegetables {
    margin: -49vw 0 0 2vw;
    width: 55%;
    height: 15vw;
    gap: 1vw;
  }
  #first {
    background-image: url("../images/livr1.svg");
    background-size: cover;
    width: 70vw;
    height: 140vw;
  }
  #second {
    background-image: url("../images/det.svg");
    background-size: cover;
    width: 70vw;
    height: 140vw;
  }
  #thierd {
    background-image: url("../images/un.svg");
    background-size: cover;
    width: 70vw;
    height: 140vw;
  }
  #fourth {
    background-image: url("../images/school.svg");
    background-size: cover;
    width: 70vw;
    height: 140vw;
  }
  #fifth {
    background-image: url("../images/dacha.svg");
    background-size: cover;
    width: 70vw;
    height: 140vw;
  }
  #sixth {
    background-image: url("../images/river.svg");
    background-size: cover;
    width: 70vw;
    height: 140vw;
  }
  #seventh {
    background-image: url("../images/uni.svg");
    background-size: cover;
    width: 70vw;
    height: 140vw;
  }
  #clearButton {
    width: 5vw;
    height: 13vw;
    margin-left: 10vw;
    margin-bottom: 45vw;
    position: absolute;
  }
  #changeImageBtn {
    width: 10.5vw;
    height: 10vw;
    bottom: 37vw;
    left: 48vw;
  }
}
