@keyframes float {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20vw); /* Движение вправо */
  }
  100% {
    transform: translateX(-20vw); /* Движение влево */
  }
}
@keyframes svet {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(5deg); /* Угол наклона в одну сторону */
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg); /* Угол наклона в другую сторону */
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes float {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-7vw);
  }
  100% {
    transform: translateX(0);
  }
}
